body {
  padding: 20px;
  background: burlywood;
  text-align: center;
}

h1 {
  padding: 10px;
  background: rgb(143, 56, 22);
  border-radius: 7px;
  color: white;
}

img {
  object-fit: contain;
  width: 25%;
}

li {
  margin: 5px 0 5px 0;
  border: 1px black solid;
  border-radius: 7px;
  padding: 5px;
  background: rgb(141, 23, 23);
  color: white;
}

button {
  margin-left: 10px;
}